html{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

body {
    transition: 1s;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    transition: 1s;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 2px;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 250px;
    box-shadow: 0px 5px 15px -5px white;

}

.cont-encabezado {
    transition: 1s;
    text-align: center;
    margin: 20px;
}

.contenido-cont {
    transition: 1s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linea {
    transition: 1s;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 0px;
}

.boton {
    transition: 1s;
    background-color: black;
    border: 1px solid white;
    width: 300px;
    height: 50px;
    color: azure;
    box-shadow: 0px 5px 15px -5px white;
}

