body {
  margin: 0;
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container {
  background-color: transparent;
  margin-top: 15%;
  margin-bottom: 25.2%;
  border: 1px solid black;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
}

.output {
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}

#co{
  text-align: center;
}